<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
    {% load static %}
    {% block ccs-add %}{% endblock %}
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
</head>
<body>
    <header>
        <div class="top-bar">
            <p>15% OFF x Transferencia 🔥 | 6 cuotas sin interés | Envíos a todo el país.</p>
        </div>
        <div class="header-main">
            <div class="logo">
                <h1><a href="{% url 'home' %}">COQUETTESTEPS 🎀​</a></h1>
            </div>
            <nav class="navigation">
                {% block nav %}
                    <ul>
                    {% if category %}
                        <li><a href="{% url 'home' %}">Inicio</a></li>
                        <li><a href="{% url 'home_filter' 'all' %}">Calzados</a></li>
                        {% for item in category %}
                            <li><a href="{% url 'home_filter' item %}">{{ item }}</a></li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                {% endblock %}
            </nav>

            <div class="user-actions">
                {% if user.is_authenticated %}
                    <a href="{% url 'confirm_logout' %}">Cerrar Sesion</a>
                {% else %}
                    <a href="{% url 'register' %}">Crear Cuenta</a>
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
                <a href="#"><span class="cart">🛒 {% block carro %}0{% endblock %}</span></a>
            </div>
        </div>
    </header>
        {% block content %}
        {% endblock %}

    <footer>
        <div class="footer-conteiner">
            <div class="footer-column">
                <div class="varios">
                    <p><a href="#">Métodos de pago</a></p>
                    <p><a href="#">Preguntas frecuentes</a></p>
                    <p><a href="#">Política de devolución</a></p>
                    <p><a href="#">Botón de arrepentimiento</a></p>
                </div>
                <div class="social-media">
                    <p>Comunicate con nosotros</p>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
            <p class="bow">🎀​</p>
            <p class="copy">&copy; 2024 CoquetteSteps. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/122151608e.js" crossorigin="anonymous"></script>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
