{% extends 'home_admin.html' %}

{% block title %}Categorias - C🎀​S - ADMIN{% endblock %}

{% block admin %}
<div><h1>Categorias</h1></div>
<div class="botones-categoria">
    <button class="btn login-button btn-cat"><a href="{% url 'crear_categoria' %}">Añadir Categoria</a></button>
    <button class="btn login-button btn-tipo"><a href="{% url 'crear_tipo' %}">Añadir Tipo</a></button>
</div>
<div class="tablas-categoria">
    <div class="tabla-cat">
        <h2 class="table-title">Categoria</h2>
        <table class="table-admin">
            {% if category %}
            <thead>
                <tr>
                    <th>Nombre</th><th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in category %}
                    <tr>
                        <td>{{cat.categoria}}</td>
                        <td>                           
                            <a href="{% url 'editar_categoria' cat.pk %}">
                                <i class="fa-solid fa-pen-to-square edit"></i>
                            </a>
                            <a href="{% url 'eliminar_categoria' cat.pk %}">
                                <i class="fa-solid fa-trash delete"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <tr><td>No se registran categorias</td></tr>
            {% endif %}
        </table>
    </div>
    <div class="tabla-tipo">
        <h2 class="table-title">Tipo</h2>
        <table class="table-admin tabla-tipo">
            {% if type %}
            <thead>
                <tr>
                    <th>Nombre</th><th>Categoria</th><th>Acciones</th>
                </tr>
            </thead>
                {% for sub in type %}
                    <tr>
                        <td>{{sub.tipo}}</td>
                        <td>{{sub.categoria_nom}}</td>
                        <td>
                        <a href="{% url 'editar_tipo' sub.pk %}">
                            <i class="fa-solid fa-pen-to-square edit" ></i>
                        </a>
                        <a href="{% url 'eliminar_tipo' sub.pk %}">
                            <i class="fa-solid fa-trash delete"></i>
                        </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td>No se registran tipos</td></tr>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}