{% extends 'base.html' %}

{% block title %}C🎀​S - ADMIN{% endblock %}

{% block topbar %}🎀​{% endblock %}

{% block nav %}
<ul>
    <li><a href="{% url 'home_admin' %}">Inicio</a></li>
    <li><a href="{% url 'categorias_admin' %}">Categorias</a></li>
    <li><a href="{% url 'productos_admin' %}">Productos</a></li>
    <li><a href="#">Ventas</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="home-cont">

    {% block admin %}
    <button><a href="{% url 'categorias_admin' %}">Categorias</a></button>
    <button><a href="{% url 'productos_admin' %}">Productos</a></button>
    <button><a href="#">Ventas</a></button>
    {% endblock %}
</div>
{% endblock %}