{% extends 'home.html' %}

{% block title %}{{category_filter}} - Coquette🎀​Steps{% endblock %}

{% block product %}
{% load static %}
    <div class="products">
        <h1>{{category_filter.upper}}</h1>
        <div class="product-cont">
        {% if product %}
            {% for item in product %}
                {% include 'card.html' %}
            {% endfor %}
        {% else %}
            <p>"Lo sentimos, no hay productos disponibles"</p>
        {% endif %}
        </div>
    </div>
{% endblock %}