{% extends 'home_admin.html' %}

{% block title %}Productos - C🎀​S - ADMIN{% endblock %}

{% block admin %}
{% load static %}
<div><h1>Productos</h1></div>
<div class="botones-categoria">
    <button class="btn login-button btn-calzado"><a href="{% url 'crear_producto' %}">Añadir Calzado</a></button>
</div>
<div class="tablas-categoria">
    <div class="tabla-productos">
        <h2  class="table-title">Calzados</h2>
        <table class="table-admin tab-productos">
            {% if shoes %}
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Codigo</th>
                    <th>Nombre</td>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for shoe in shoes %}
                    <tr>
                        <td>    
                            <img class="table-img" src="{% static 'calzado/' %}{{ shoe.tipo_calzado.categoria_nom }}/{{ shoe.tipo_calzado }}/{{ shoe.codigo }}/{{ shoe.codigo }}.jpg" alt="{{ shoe }}" >
                        </td>
                        <td>{{ shoe.codigo }}</td>
                        <td>{{ shoe.nombre }}</td>
                        <td>${{ shoe.precio }}</td>
                        <td>
                            <a href="{% url 'editar_producto' shoe.pk %}">
                                <i class="fa-solid fa-pen-to-square edit" ></i>
                            </a>
                            <a href="{% url 'eliminar_producto' shoe.pk %}">
                                <i class="fa-solid fa-trash delete"></i>
                            </a>
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <tr><td>No se registran productos</td></tr>
            {% endif %}
        </table>
    </div> 
</div>
{% endblock %}