{% extends 'home_admin.html' %}

{% block title %}
Eliminar Tipo - C🎀​S - ADMIN
{% endblock %}   

{% block admin %}
    <h1>Confirmar Eliminación</h1>
    <p>¿Estás seguro de que deseas eliminar el tipo <b>{{ object.tipo }}</b>?</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Eliminar</button>
        <button>
            <a href="{% url 'categorias_admin' %}">Cancelar</a>
        </button>
    </form>

    {% for message in messages %}
        <div class="error-cont">
            <p class="error-message">{{ message }}</p>
        </div>
    {% endfor %}
{% endblock %}